<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css')}}">
</head>
<body>
<h1>Hello</h1>
<p>This paragraph contains important data for {{ name }}</p>
</body>
</html>
